[class^="onlist-"] {
box-sizing: border-box;
}
.olclearfix:before,
.olclearfix:after {
content: " ";
clear: both;
}
.olclearfix:after {
display: table;
}
.onlist-after-content:after,
.onlist-before-content:before {
content: " ";
display: block;
clear:both;
position: relative;
width: 100%;
height: 1px;
background: transparent;
}
.onlist-after-content:after {
padding-bottom: 15px;
}
.onlist-before-content:before {
padding-top: 45px;
}
.onlist-before-content,
.onlist-after-content {
display: block;
padding: 15px;
position: relative;
}
.onlist-container {
display: block;
}
.onlist-page-fields label,
.onlist-editor-fields label {
font-weight: 700;
}
.onlist-container:before,
.onlist-container:after {
content: "";
clear: both;
}
.onlist-container:after {
display: table;
} 
.onlist-single .entry_content {
width: 94%;
margin: 0 auto;
display: block;
box-sizing: border-box;
margin-bottom: 1em;
padding: 8px 25px;
}
.onlist-single .entry_content:after {
content: " ";
clear:both;
display: table;
width: 100%;
height: 1px;
background: transparent;
}
.onlist-page-fields {
display: table;
width: 100%;
min-width: 100%;
margin: 0;
padding: 0;
height: 100%;
position: relative;
margin-top: 15px;
background: #ffffff;
min-height: 1px;
word-wrap: break-word;
overflow: hidden;
}
.onlist-page-fields .onlist-left {
display: inline-block;
width: 50%;
box-sizing: border-box;
padding: 5px 15px;
background: transparent;

}
.onlist-page-fields .onlist-right {
display: block;
float: right;
width: 50%;
box-sizing: border-box;
padding: 5px 15px;
background: transparent;
}
.onlist-page-fields .onlist-right:after {
    content: " ";
    clear:both;
    display: table;
}
.onlist-editor-fields input {
width: 80%
}
.onlist-page-fields .alignleft,
.onlist-editor-fields .alignleft {
max-width: 50%;
position: relative;
}
.onlist-page-fields .alignright,
.onlist-editor-fields .alignright {
max-width: 50%;
position: relative;
display: block;
}
.onlist-single .onlist-topdetails {
width: 100%;
margin: 0 auto;
padding: 10px;
}
.onlist-single .onlist-page-fields {
border: 1px solid #e7e7e7;
width: 90%;
margin: 0 auto;
padding: 12px 24px;
}
.onlist-single .onlist-page-fields label:after {
content: "\2022";
position: relative;
left: 4px;
top: 0px;
padding-right: 5px;
color: #555;
}
.onlist-info label:after,
.excerpt-onlist label:after {
content: ">";
position: relative;
left: 0;
padding-right: 5px;
font-size:.938em;
color: #555;
}
#tagsdiv-onlist-taxonomy.postbox
{
    background: #caf4ff;
}
.onlist-editor-fields small#onlist_info {
display: block;
height: 2em;
background: #caf4ff;
padding: 2px 2px 0 2px;
} 
#new-tag-onlist-taxonomy-desc.howto {
display: none;
}
#onlist-entry {
display: block;
max-width: 100%;
margin: 12px auto;
padding: 15px;
}
.entry-details {
width: 100%;
margin: 8px auto;
border-radius: 2px;
background: #fcfcfc;
padding: 15px;
}
.entry-details .onlist-page-fields {
max-width: 540px;
}

/*  ***************************** checkpoint */
.onlistmaps-container { 
background: #fff;
display: block;
}

.onlist-entry {
    position: relative;
    max-width: 100%;
    border-top: 1px solid #ccc;
    padding: 12px 12px 5px 12px;
}
.onlist-featured-image,
.onlist-entry .onlist-thumb {
display: inline-block;
width: 30%;

}
.onlist-entry-title,
.onlist-entry .onlist-title {
    display: block;
    width: 90%;
    position: relative;
    top: 0px;
    text-align: center;
    margin: 0 auto;
    padding: 8px;
    min-height: 3em;
    line-height: 2;
    background: #fff;
    line-height: initial;
}
.archive .onlist-entry-title{
margin-bottom: 0;
height:auto;
font-size: 2rem;
line-height: 1.222;
width:100%;

}
.onlist-entry .onlist-title:after {
content: " ";
clear: left;
}
.onlist-info {
display: block;
margin: 0 auto;
width: 98%;
position: relative;
padding: 10px;
}
.readon-link {
position: relative;
height: 24px;
top: -10px;
padding: 4px 9px;
background-image: linear-gradient( #f8f8f8, #fefefe, #f2f2f2 );
border: 1px solid #d2d2d2
}
.onlist-info p {
line-height: 1.4;
margin: 0px 1em auto 0px;
}
section.onlist-excerpts .entry-title {
width: 100%;
margin: 0;
padding: 0;
position: relative;
height: 90px;
overflow: hidden;
word-wrap: break-word;
}
section.onlist-excerpts .entry-title span {
width: 40%;
float: right;
clear:left;
display: block;
}
section.onlist-excerpts .entry-title span img {
max-height: 88px;
width: auto;
max-width: 100%;
}
.onlist-single {
max-width: 100%;
position: relative;
}
.entry-excerpt {
font-size: .938em;
}
.onlist-featured-image img {
max-width: 100%;
}
.onlist-single a[href^="tel:"] {
text-decoration: none;
}
.onlist-single a[href^="tel:"]:before {
content: " ";
margin-right: 0.5em;

}
ul.onlist-catlist li.onlist-cat-list{
position:relative;
width: 100%;
margin: 1px 0;
border-bottom: 1px solid transparent; /* testing only */
}
.archive ul.onlist-catlist article.onlist-excerpt {
background: #fafafa;
padding: 5px;
margin: 0;
width: 100%;
}
.onlist-archive-heading{
width:100%;
display:block;
padding:5px;
white-space: normal;
word-wrap: normal;
}
.onlist-archive-inner{
width: 100%;
max-height: 9em;
padding: 0;
margin: 0;
}
.archive .onlist-featured-image{
position: relative;
left: 0;
width: 24%;
top: -3px
}
.archive .onlist-featured-image img.wp-post-image,
.archive .onlist-featured-image img{
margin:auto;
}
.archive .onlist-featured-image:after{
content:"";
clear:none;
}
.archive .content-cats{
width: 77%;
position: relative;
margin-left: 21%;
top: -8em;
} 
.onlist-readon {
position: relative;
float: right;
right: 6%;
}
ul.onlist_catlist {
list-style: inherit;
position: relative;
margin: 0;
padding: 0;
}
ul.onlist_catlist li a {
text-decoration: none;
}
ul.onlist_catlist ul li {
margin-left: 1em;
list-style: none;
}
ul.onlist-catlist {
list-style: none;
position: relative;
margin: 0 auto;
padding: 0;
width: 98.8992%;
}
ul.onlist-catlist li a {
text-decoration: none;
}
ul.onlist-catlist li.onlist-unstyled {
border-top: 1px solid #ccc;
}
ul.onlist-catlist ul li {
margin-left: 1em;
list-style: none;
}
.olblock {
display: block;
}
ul.onlist-list-inline {
list-style: none;
margin: 0;
padding: 0;
position: relative;
display: inline-block;
width: 100%;
margin-bottom: 12px;
}
ul.onlist-list-inline li {
float: left;
margin: 5px;
display: block;
}
ul.onlist-list-inline ul {
border-left: 3px solid #d0d0d0;
} 
ul.onlist-list-unstyled {
position:relative;
margin: 0;
padding: 0;
}
ul.onlist-list-unstyled li {
margin: 0 0 .25em 1em;
display: block;
}
ul.onlist-list-unstyled ul li {
margin-left: 1em;
}
ul.onlist-list-unstyled li ul.has-children {
margin: 3px 0 0 0;
} 
.widget_onlist_widget .widget-title{
    color: inherit;
}
@media screen and (min-width: 769px) {
    #onlist-entry{
        padding: 30px 60px;
    }
}
@media screen and (max-width: 768px) {
    .onlist-details .onlist-page-fields {
        max-width: 98.8992%;
    }
}
@media screen and (max-width: 900px){

.archive .content-cats{
width: 75%;
margin-left: 22%;
} 
} 
@media screen and (max-width: 640px){
    .onlist-archive-inner {
        max-height:12em;
    }
    .archive .content-cats{
        width: 70%;
        margin-left: 28%;
    } 
} 